<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Shopping Cart</h1>
    Item in cart: <%= @session[:item] %>
  </body>
</html>
