<form action="/checkout" method="post" class="form">
  <div class="form">
    <label for="name">Enter your item to purchase: </label>
    <input type="text" name="item" id="item" required>
  </div>
  <div class="form">
    <button type="submit" value="submit">Purchase!</button>
  </div>
</form>
