<!DOCTYPE html>
<html>
<body>
  <%x=0%>
  <% while x!=3 do %>
  <h1>ENTER ITEM ENTER ITEM ENTER ITEM ENTER ITEM</h1>
  </br>
  <%x+=1%>
  <%end%>


  <form method="post" action="/checkout">
    <label for="item"> item:</label><br>
    <input type="text" id="item" name="item"><br>
    <input id="submit" type="submit" value="sumbit">
  </form>

</html>
